.bubbles {
	pointer-events: none;

	&__item {
		position: absolute;
		z-index: -1;

		&.one {
			left: 14%;
			bottom: 24%;
		}

		&.two {
			top: 20%;
			left: 10%;
		}

		&.three {
			top: -5%;
			right: 15%;
		}

		&.four {
			top: 12%;
			right: 12%;
		}
	}
}

@media screen and (max-width: 700px) {
	.bubbles {
		display: none;
	}
}