$white: #fff;
$orange: #FD780F;
$blue: rgb(2, 132, 144);
$blue-op: rgba(2, 132, 144, 0.8);
$orange-op: rgba(237, 112, 0, 0.8);
$green-op: rgba(55, 219, 75, 0.76);
$green-op-2: rgba(55, 219, 75, 0.66);
$gray: #606060;
$black: #000;
$dgray: #424242;
$dblue: #01565E;

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		font-display: swap;
		src: url($furl) format("woff2");
	}
}

@include font("Roboto", normal, 500, "../fonts/Roboto-Medium.woff2");
@include font("Amsterdam", normal, 400, "../fonts/Amsterdam.woff2");

[x-cloak] {
	display: none !important;
}

html.overflow {
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	height: 100%;

	& body {
		overflow: hidden !important;
		height: 100%;
	}
}

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::placeholder {
	color: #000;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #000;
	opacity: 1;
}

html {
	font-size: 16px;
}

body {
	font-family: "Amsterdam", sans-serif;
}

img,
a,
button {
	user-select: none;
	text-decoration: none;
}

input,
button {
	background-color: transparent;
	border: 0;
	font-family: inherit;
}

button {
	cursor: pointer;
}

.container {
	max-width: 1530px;
	padding: 0 15px;
	margin: 0 auto;

	&.w100 {
		width: 100%;
	}

	&.relative {
		position: relative;
	}

	&-alt {
		margin-right: 0;
		padding-right: 0;
		max-width: 100%;
	}

	&.center {
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 1600px) {
	.container {
		padding: 0 30px;

		&-alt {
			padding-right: 0;
		}
	}
}


input[type="radio"],
input[type="checkbox"] {
	appearance: none;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	min-width: 15px;
	position: relative;
	border: 2.5px solid $orange;
	background-color: transparent;
	box-shadow: 0 0 0 1px $orange;
	transition: box-shadow 0.1s ease, background-color 0.1s ease;

	&:hover {
		box-shadow: 0 0 0 2px $orange;
	}

	&:checked {
		background-color: $orange;
		box-shadow: 0 0 0 1px $orange;

		&:hover {
			box-shadow: 0 0 0 2px $orange;
		}
	}
}

input[type="checkbox"] {
	border-radius: 0;

	&:before {
		border-radius: 0;
	}
}