@import "config";
@import "swiper";

.title {
	font-size: 64px;
	color: $black;
	position: relative;

	&:before {
		position: absolute;
		content: '';
		background-image: url("/images/dist/title-icon.svg");
		width: 166px;
		height: 75px;
		background-size: contain;
		background-repeat: no-repeat;
		top: -80px;
		left: -80px;
	}

	& span {
		color: $orange
	}
}

.subtitle {
	font-size: 24px;
	margin-top: 12px;
	display: block
}

@import "blocks/*";
