.catalog {
	background-color: $gray;

	&__inner {
		padding-top: 90px;
		padding-bottom: 140px;
		color: $white;
	}

	&__title {
		font-size: 36px;
		margin-bottom: 35px;
		text-align: center;
	}

	&__desc {
		margin: 0 auto;
		margin-bottom: 70px;
		font-size: 30px;
		text-align: center;
		font-family: "Futura New", sans-serif;
		font-weight: 400;
		max-width: 1000px;
	}
}

.catalog__item {
	display: flex;
	flex-direction: column;
	height: auto;

	&_img {
		width: 100%;
		margin-bottom: 18px;

		& img {
			width: 100%;
			object-fit: cover;
			max-height: 235px;
		}
	}

	&_title {
		font-size: 15px;
		font-family: "Futura New", sans-serif;
		margin: 0 auto;
		margin-bottom: 40px;
		text-align: center;
		max-width: 85%;
		text-transform: uppercase;

		& + .btn-primary {
			margin-top: auto;
		}
	}

	&_desc {
		font-family: "Futura New", sans-serif;
		margin-bottom: 20px;
		margin-top: auto;
	}
}

.catalog__slider {
	position: relative;

	&:not(:last-child) {
		margin-bottom: 110px;
	}

	&_title {
		color: $green;
		font-size: 36px;
		font-family: "Futura New", sans-serif;
		margin-bottom: 18px;
	}
}

.slider-arrow {
	position: absolute;
	top: 32%;
	transform: translateY(-32%);
	cursor: pointer;

	&-left {
		left: -60px;
	}

	&-right {
		right: -60px;
	}
}

@media screen and (max-width: 1300px) {
	.slider-arrow {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	.catalog {
		&__title {
			font-size: 35px;
		}

		&__desc {
			font-size: 24px;
			margin-bottom: 40px;
		}

		&__inner {
			padding-top: 50px;
			padding-bottom: 50px;
		}

		&__slider {
			&:not(:last-child) {
				margin-bottom: 40px;
			}

			&_title {
				font-size: 24px;
			}
		}

		&__item {
			&_title {
				margin-bottom: 20px;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.catalog {
		&__title {
			font-size: 28px;
		}

		&__desc {
			font-size: 22px;
		}

		&__item {
			&_img img {
				max-height: 280px;
			}
		}
	}
}
