.cert {
	background-color: #dbdbdb;
	background-image: url("../images/dist/cert-bg.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom;

	& .swiper-pagination-bullet {
		margin-right: 10px;
		width: 12px;
		height: 12px;
		&:last-child {
			margin-right: 0;
		}
	}

	& .swiper-pagination-bullet-active {
		background: $green;
	}

	& .swiper-pagination {
		width: 100%;
		bottom: -40px;
		display: none;
		z-index: 4;
	}

	&__inner {
		padding-top: 80px;
		padding-bottom: 190px;
	}

	&__title {
		font-size: 36px;
		color: #231f20;
		margin-bottom: 65px;
		text-align: center;
	}

	&__slider {
		position: relative;
		max-width: 700px;
		margin: 0 auto;

		& .slider-arrow {
			top: 50%;
			transform: translateY(-50%);

			&-left {
				left: -40px;
			}

			&-right {
				right: -40px;
			}
		}
	}

	&__item {
		display: flex;
		align-items: center;
		height: auto;
		cursor: pointer;

		&:hover {
			& img {
				box-shadow: 0 0 2px 0 $gray;
			}
		}

		& img {
			transition: box-shadow .1s ease;
			width: 100%;
		}
	}
}

@media screen and (max-width: 800px) {
	.cert {
		background-size: cover;
		background-position: left;

		&__inner {
			padding-top: 50px;
			padding-bottom: 70px;
		}

		&__title {
			font-size: 35px;
			margin-bottom: 50px;
		}

		& .swiper-pagination {
			display: block;
			bottom: -30px;
		}
	}
}

@media screen and (max-width: 600px) {
	.cert {
		&__title {
			font-size: 28px;
			margin-bottom: 40px;
		}

		& .swiper-pagination {
			bottom: -40px;
		}
	}
}
