.feedback {
	background-color: $green;

	&__inner {
		padding: 40px 0;
	}

	&__title {
		margin: 0 auto;
		margin-bottom: 25px;
		color: #231f20;
		text-transform: uppercase;
		text-align: center;
		max-width: 625px;
		font-size: 18px;
	}

	&__form {
		&_inputs {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 20px;
			margin-bottom: 18px;
		}
	}
}

@media screen and (max-width: 600px) {
	.feedback {
		&__form {
			&_inputs {
				grid-template-columns: 1fr;

				& button {
					max-width: 222px;
					margin: 0 auto;
				}
			}
		}
	}
}