.popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;

	&-close {
		display: none;
		position: absolute;
		top: 15px;
		right: 15px;
	}

	& .popup-close {
		display: flex;
	}
}

.cert-popup {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	& img {
		max-width: 500px;
		width: 100%;
	}
}

@media screen and (max-width: 1600px) {
	.cert-popup {
		& img {
			max-width: 400px;
		}
	}
}

@media screen and (max-width: 700px) {
	.popup {
		& .form__title {
			margin-top: 20px;
		}
	}

	.cert-popup {
		& img {
			max-width: 380px;
		}
	}
}
