.coop {
	background-color: #fff;
	position: relative;
	overflow: hidden;

	&__confetti {
		left: 0;
		position: absolute;
		top: 0;
	}

	&__img {
		right: 0;
		position: absolute;
		bottom: 0;
		max-width: 40%;
	}

	&__inner {
		position: relative;
		z-index: 3;
		padding-top: 80px;
		padding-bottom: 115px;
		max-width: 750px;
	}

	&__desc {
		margin-top: 32px;
		font-size: 18px;
	}

	&__numbers {
		margin-top: 30px;
		display: flex;
		justify-content: space-between;

		&_item {
			display: flex;
			flex-direction: column;
			margin-right: 45px;

			&:last-child {
				margin-right: 0;
			}
		}

		&_title {
			color: $purple;
			font-size: 40px;
			font-weight: 700;
			font-family: "Montserrat", sans-serif;
		}

		&_desc {
			font-size: 12px;
			color: #4F596A;
		}
	}

	&__button {
		margin-top: 65px;
	}
}
