.features {
	background-color: #fff;

	&__inner {
		padding-top: 65px;
	}

	&__items {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-top: 48px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 55px;
		flex-basis: 30%;

		& span {
			text-align: center;
		}

		&_title {
			font-size: 22px;
			color: #000;
			margin-top: 30px;
			display: block;
			font-weight: 700;
			margin-bottom: 3px;
		}

		&_desc {
			color: #525252;
			max-width: 280px;
		}
	}

	&__img {
		max-width: 216px;
		max-height: 190px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;

		& img {
			max-height: 100%;
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 950px) {
	.features {
		&__inner {
			padding-top: 45px;
		}

		&__items {
			margin-top: 40px;
		}

		&__img {
			max-width: none;
			max-height: 120px;
			min-height: 120px;
		}

		&__item {
			&_title {
				font-size: 20px;
			}
			&_desc {
				font-size: 14px;
			}
		}
	}
}

@media screen and (max-width: 750px) {
	.features {
		&__item {
			margin-bottom: 40px;
			flex-basis: 45%;
		}
	}
}

@media screen and (max-width: 600px) {
	.features {
		&__item {
			margin-bottom: 35px;

			&_title {
				font-size: 14px;
				margin-top: 15px;
			}

			&_desc {
				font-size: 10px;
			}
		}

		&__img {
			max-height: 80px;
			min-height: 80px;
		}
	}
}
