$purple: #352e7d;
$red: #ec5252;
$blue: #081f32;

[x-cloak] {
	display: none !important;
}

::placeholder {
	opacity: 1;
}

::-webkit-input-placeholder {
	opacity: 1;
	color: inherit;
}

input:invalid {
	box-shadow: none;
	outline: none;
}

input:focus:invalid {
	border-color: $red;
}

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	text-rendering: optimizeLegibility;
}

body {
	font-size: 16px;
	font-family: "Gothic", sans-serif;
}

a,
button {
	user-select: none;
	text-decoration: none;
	background-color: transparent;
	border: 0;
	box-shadow: none;
	outline: none;
}

img {
	user-select: none;
	outline: none;
}

a {
	color: #000;
}

::selection {
	background-color: $purple;
	color: #fff;
}

.container {
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;

	&-alt {
		margin-right: 0;
		max-width: 100%;
	}

	&-sm {
		max-width: 945px;
	}
}

.section-title {
	font-weight: 700;
	font-size: 24px;
	color: #333;

	&-center {
		max-width: 570px;
		margin: 0 auto;
		text-align: center;
	}
}

.relative {
	position: relative;
}

.wh-100 {
	height: inherit;
	width: 100%;
}

@media screen and (max-width: 600px) {
	.section-title {
		font-size: 16px;
	}
}
