.videos {
	background-image: url("../imgs/video-bg.jpg");
	background-repeat: no-repeat;
	background-color: #f3f3f3;

	&__inner {
		padding-top: 85px;
		padding-bottom: 100px;
	}

	&__block {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		flex-basis: 47%;
	}

	&__img {
		cursor: pointer;
		position: relative;
		border-radius: 10px;
		overflow: hidden;

		&:before {
			position: absolute;
			content: "";
			left: 50%;
			top: 50%;
			background-image: url("../imgs/btnPlay.svg");
			background-repeat: no-repeat;
			background-size: cover;
			width: 125px;
			height: 125px;
			transform: translate(-50%, -50%);
			transition: transform 0.2s ease;
		}

		&.active {
			&::before {
				content: none;
			}
		}

		&:hover {
			&:before {
				transform: translate(-50%, -50%) scale(1.05);
			}
		}

		& img,
		& iframe,
		& video {
			border-radius: 10px;
			width: 100%;
			height: calc(100vw / 6);
			object-fit: cover;
		}
	}

	&__info {
		margin-top: 15px;
		display: flex;
		justify-content: space-between;
	}

	&__title {
		margin-right: 15px;
		font-weight: 700;
		color: #333;
	}

	&__date {
		color: #4f4f4f;
	}
}

@media screen and (max-width: 1550px) {
	.videos {
		&__img {
			& img,
			& iframe,
			& video {
				height: calc(100vw / 5);
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.videos {
		&__img {
			& img,
			& iframe,
			& video {
				height: calc(100vw / 4);
			}
		}
	}
}

@media screen and (max-width: 950px) {
	.videos {
		&__inner {
			padding-top: 40px;
			padding-bottom: 35px;
		}

		&__block {
			margin-top: 30px;
		}

		&__img {
			& iframe,
			& img,
			& video {
				height: calc(100vw / 3.75);
			}

			&::before {
				width: 65px;
				height: 65px;
			}
		}
		&__item {
			flex-basis: 48.5%;
		}
	}
}



@media screen and (max-width: 650px) {
	.videos {
		background-size: cover;

		&__block {
			flex-direction: column;
		}

		&__item {
			flex-basis: 100%;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__img {
			& iframe,
			& img,
			& video {
				height: calc(100vw / 2);
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.videos {
		&__title {
			font-size: 14px;
		}
		&__date {
			font-size: 10px;
		}
	}
}
