$m-right: 30px;

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format("woff2");
	}
}

@include font("OpenSans", normal, 400, "../fonts/OpenSans-Regular.woff2");
@include font("OpenSans", normal, 600, "../fonts/OpenSans-SemiBold.woff2");
@include font("OpenSans", normal, 700, "../fonts/OpenSans-Bold.woff2");
@include font("ME", normal, 800, "../fonts/MonumentExtended-Ultrabold.woff2");

[x-cloak] {
	display: none !important;
}

html.overflow {
	overflow: hidden !important;

	& body {
		overflow: hidden !important;
	}
}

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::placeholder {
	color: #666;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
}

html {
	font-size: 16px;
}

body {
	background-color: #0e0e0f;
	font-family: "OpenSans", sans-serif;
	color: #fff;
}

img,
a,
button {
	user-select: none;
	text-decoration: none;
	color: #fff;
}

input,
button {
	background-color: transparent;
	border: 0;
	font-family: inherit;
}

button {
	cursor: pointer;
}

h1,
h2,
h3 {
	font-size: 24px;
	font-weight: 800;
	font-family: "ME", "Helvetica", sans-serif;
	text-transform: capitalize;

	&.center {
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	h1,
	h2,
	h3 {
		&.center {
			font-size: 18px;
		}
	}
}

@media screen and (max-width: 600px) {
	h1,
	h2,
	h3 {
		&.center-mobile {
			text-align: center;
		}
	}
}

.container {
	max-width: 1210px;
	padding: 0 15px;
	margin: 0 auto;
}

.background {
	&-part,
	&-full {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 50;
		background: rgba(21, 21, 22, 0.5);
	}

	&-part {
		top: 114px;
	}
}

.main {
	padding-top: 38px;
	position: relative;
}

section {
	position: relative;
	z-index: 3;
}

.main__bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	pointer-events: none;
	user-select: none;

	&_img {
		min-height: 1250px;
		object-fit: cover;
		width: 100%;
		z-index: 1;
	}

	&_shadow {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		min-height: 1250px;
		z-index: 2;
		background: linear-gradient(
			360deg,
			#0e0e0f 0%,
			rgba(21, 21, 22, 0) 100%
		);
	}
}

@media screen and (max-width: 1280px) {
	.slider-arrow {
		display: none !important;
	}
}

input[type="radio"],
input[type="checkbox"] {
	appearance: none;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	min-width: 15px;
	position: relative;
	border: 2.5px solid #151516;
	background-color: transparent;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
	transition: box-shadow 0.1s ease, background-color .1s ease;

	&:hover {
		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
	}

	&:checked {
		background-color: #ff7a00;
		box-shadow: 0 0 0 1px #ff7a00;

		&:hover {
			box-shadow: 0 0 0 2px #ff7a00;
		}
	}
}

input[type="checkbox"] {
	border-radius: 0;

	&:before {
		border-radius: 0;
	}
}

::selection {
	color: #fff;
	background-color: #ff7a00;
}