.contacts {
	margin-top: 40px;

	& .page__title {
		margin-bottom: 30px;
	}

	&__meta {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		margin-bottom: 45px;

		&_title {
			font-weight: 700;
			margin-bottom: 30px;
		}

		&_info {
			display: flex;
			flex-direction: column;
			line-height: 1.4;
		}
	}

	&__shops {
		display: flex;
		max-width: 1010px;

		&_title {
			font-weight: 700;
			color: #9ad9d7;
			font-size: 16px;
			margin-bottom: 45px;
		}
	}

	&__addresses {
		min-width: 250px;
		width: 250px;
		margin-right: 50px;

		&_item {
			display: flex;

			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}

		&_name {
			font-size: 16px;
			font-weight: 700;
			margin-right: 30px;
			white-space: nowrap;
		}

		&_meta {
			font-size: 12px;
		}
	}

	&__map {
		width: 100%;

		&_wrapper {
			min-height: 465px;
			margin-bottom: 25px;
			background-color: rgb(220, 220, 220);
		}

		& .contacts__meta_info {
			&:last-child {
				margin-top: 30px;
			}
		}
	}
}


@media screen and (max-width: 915px) {
	.contacts {
		&__addresses {
			margin-right: 0;
			width: 100%;
			min-width: auto;
			display: grid;
			grid-gap: 25px;
			grid-template-columns: 1fr 1fr 1fr;
			margin-bottom: 25px;

			&_name {
				margin-right: 20px;
			}

			&_item {
				&:not(:last-child) {
					margin-bottom: 0;
				}
			}
		}

		&__shops {
			display: flex;
			flex-direction: column;
		}
	}
}

@media screen and (max-width: 768px) {
	.contacts {
		&__addresses {
			grid-template-columns: 1fr 1fr;
			grid-gap: 20px;

			&_name {
				font-size: 14px;
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.contacts {
		&__addresses {

			&_name {
				margin-right: 0;
				margin-bottom: 10px;
			}

			&_item {
				flex-direction: column;
			}
		}
	}
}