$wh: #F2F7FF;
$bl: #5798F6;
$gr: #9BA6BC;
$music-bg: rgba(60,68,86,.3);
$bg: #131A21;
$platform-bg: rgba(242, 247, 255, 0.1);

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::placeholder {
	color: #fff;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}

html {
	font-size: 16px;
}

body {
	font-family: "Noto Sans", sans-serif;
	color: $wh;
	background-color: $bg;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-rendering: optimizeLegibility;
}

img,
a,
button {
	user-select: none;
	text-decoration: none;
	outline: none;
}

input,
button {
	background-color: transparent;
	border: 0;
	font-family: inherit;
}

button {
	cursor: pointer;
}

.container {
	max-width: 1150px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-md {
	max-width: 980px;
}

.container-sm {
	max-width: 800px;
}

.player-main {
	margin-top: 140px;
	position: relative;
}