.hero {
	padding-bottom: 300px;
	margin-bottom: 250px;
	position: relative;
	z-index: 5;

	&__inner {
		padding-left: 90px;
		display: flex;
	}

	&__logo {
		display: flex;
		flex-direction: column;
		text-align: center;

		&_img {
			max-width: 356px;
			height: auto;
		}
	}

	&__title {
		&-hidden {
			text-indent: -10000px;
			height: 0;
			overflow: hidden;
		}

		font-weight: 900;
		color: $gray;
		font-size: 39px;
		text-transform: uppercase;

	}

	&__more {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		bottom: -10%;
	}
}

@media screen and (max-width: 900px) {
	.hero {
		margin-bottom: 150px;
		padding-bottom: 0;

		&__logo {
			margin-top: 50px;
		}

		&__inner {
			padding-left: 0;
			justify-content: center;
		}

		&__more {
			display: none;
		}
	}
}

@media screen and (max-width: 450px) {
	.hero {
		&__logo {
			&_img {
				width: 100%;
			}
		}

		&__title {
			font-size: 34px;
			margin-top: 15px;
		}
	}
}