.lesson {
	&__title {
		color: #081f32;
		margin-bottom: 20px;
		font-weight: 700;
		letter-spacing: 0.01em;
		font-size: 20px;
	}

	&__subtitle {
		color: #081f32;
		letter-spacing: 0.01em;
		font-family: "Montserrat", sans-serif;
		font-size: 16px;
		font-weight: 600;
	}

	&__meta {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(4, 1fr);
		margin-bottom: 18px;

		&_card {
			background: #fff;
			border-radius: 4px;
			padding: 16px;
			padding-top: 12px;
			border: 1px solid #ffbef9;

			&:nth-child(2) {
				border-color: #d3ffbf;
			}
			&:nth-child(3) {
				border-color: #beefff;
			}

			& span {
				&:first-child {
					font-weight: 700;
					color: $purple;
					line-height: 1;
					font-size: 30px;

					& small {
						font-size: 10px;
					}
				}

				&:last-child {
					display: block;
					margin-top: 8px;
					font-size: 10px;
				}
			}
		}
	}

	&__selector_wrapper {
		display: grid;
		grid-template-columns: 0.4fr;
		margin-bottom: 32px;
	}

	&__additional {
		display: flex;
		justify-content: space-between;
	}

	&__attach {
		&_files {
			margin-top: 10px;
			margin-right: 30px;
			display: grid;
			grid-gap: 25px;
			grid-template-columns: repeat(4, 1fr);
		}

		&_file {
			display: flex;

			&:hover {
				& .lesson__attach_info {
					& span:last-child {
						color: #000;
					}
				}
			}
		}

		&_img {
			margin-right: 7px;
			& img {
				max-width: 27px;
				min-width: 27px;
			}
		}

		&_info {
			font-family: "Montserrat", sans-serif;
			display: flex;
			margin-left: 9px;
			flex-direction: column;
			color: #4f4f4f;

			& span {
				display: inline-block;
				font-size: 10px;

				&:first-child {
					margin-bottom: 4px;
				}

				&:last-child {
					transition: color 0.3s ease;
					line-height: 1.5;
					font-weight: 600;
				}
			}
		}
	}
}

.lesson__materials {
	background-color: #fff;
	border-radius: 4px;

	&_inner {
		padding: 24px;
	}
}

.lesson__rating {
	text-align: center;

	& .courses__stars {
		cursor: pointer;
		margin-top: 8px;

		& img {
			width: 18px;
		}
	}
}

@media screen and (max-width: 800px) {
	.lesson {
		&__additional {
			flex-direction: column-reverse;
			align-items: flex-start;
		}

		&__rating {
			margin-bottom: 18px;
		}

		&__attach {
			&_files {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.lesson {
		&__attach {
			&_files {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.lesson {
		&__meta {
			grid-gap: 10px;

			&_card {
				padding: 12px;
				padding-top: 10px;

				& span {
					&:first-child {
						font-size: 18px;
					}

					&:last-child {
						margin-top: 4px;
					}
				}
			}
		}

		&__selector {
			&_wrapper {
				grid-template-columns: 0.6fr;
			}
		}

		&__title {
			font-size: 16px;
		}

		&__subtitle {
			font-size: 14px;
		}

		&__materials {
			&_inner {
				padding: 15px;
			}
		}
	}
}


@media screen and (max-width: 500px) {
	.lesson {
		&__attach {
			&_files {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&__meta {
			grid-gap: 5px;
			grid-template-columns: repeat(3, 1fr);
		}

		&__selector_wrapper {
			grid-template-columns: 1fr;
			margin-bottom: 24px;
		}
	}
}

@media screen and (max-width: 415px) {
	.lesson {
		&__title {
			font-size: 14px;
			margin-bottom: 16px;
		}
	}
}