.courses {
	&__link a {
		font-weight: 400;
		font-size: 14px;
		font-family: "Open Sans", sans-serif;
		color: #a5adbb;
		border-bottom: 1px solid #a5adbb;
		transition: border-color 0.3s ease;

		&:hover {
			border-color: transparent;
		}
	}

	&__link {
		margin-bottom: 20px;
	}

	&__item {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		background-color: #fff;
		height: auto;
		position: relative;
		display: flex;
		flex-direction: column;
	}

	&__info {
		padding: 24px;
		padding-bottom: 15px;
		overflow: hidden;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	&__label {
		position: absolute;
		left: 24px;
		bottom: 12px;
		text-transform: uppercase;
		font-weight: 700;
		color: #000;
		background: rgba(245, 229, 83, 0.7);
		border-radius: 4px;
		padding: 7px 12px;
		font-size: 10px;
	}

	&__img {
		position: relative;
		overflow: hidden;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		width: 100%;
		min-height: 216px;

		& img {
			width: 100%;
			object-fit: cover;
			height: 100%;
		}
	}

	&__top {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	&__meta {
		margin-right: 10px;
		display: flex;
		flex-direction: column;

		&_label {
			margin-bottom: 4px;
			font-size: 12px;
		}

		&_price {
			display: flex;
			align-items: center;
			margin-top: 20px;
			justify-content: flex-end;
		}

		&_info {
			display: flex;
			align-items: center;
			margin-right: 10px;
			color: #828282;

			& img {
				width: 18px;
				height: 18px;
				margin-right: 12px;
			}
		}
	}

	&__chars {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		font-size: 14px;

		&_finished {
			color: #828282;
		}

		& strong {
			font-size: 18px;
			color: #333;
		}
	}

	&__title {
		letter-spacing: 0.01em;
		color: $blue;
		font-size: 20px;
		margin-bottom: 8px;
		font-weight: 700;
		display: inline-block;
		transition: color 0.3s ease;

		&:hover {
			color: $purple;
		}
	}

	&__price {
		display: flex;

		&--default {
			font-size: 18px;
			color: $blue;
		}

		&--prev {
			color: #f8593b;
			text-decoration: line-through;
			margin-left: 15px;
			display: block;
			font-size: 14px;
		}
	}

	&__desc {
		color: #4f4f4f;
		font-size: 14px;
		font-family: "Open Sans", sans-serif;
		line-height: 1.8;
		margin-bottom: 12px;
	}

	&__buttons {
		margin-top: auto;
		display: grid;
		grid-gap: 0 16px;
		grid-template-columns: 1fr 1fr;
	}

	&__content {
		margin-top: 15px;
		margin-bottom: 35px;
		font-family: "Montserrat", sans-serif;
		color: #4f4f4f;
		margin-left: 10px;

		&_item {
			margin-bottom: 14px;
			display: flex;
			color: #4f4f4f;
			align-items: center;

			&:last-child {
				margin-bottom: 0;
			}

			& img {
				margin-right: 18px;
			}
		}
	}
}

@media screen and (max-width: 1050px) {
	.courses {
		&__top {
			flex-direction: column-reverse;
		}
		&__meta_label {
			margin-top: 5px;
		}
	}
}

@media screen and (max-width: 950px) {
	.courses {
		&__arrow {
			display: none;
		}

		&__img {
			min-height: 170px;
		}
	}
}

@media screen and (max-width: 900px) {
	.courses {
		&__item {
			width: 40%;
		}

		&__info {
			padding: 15px;
		}

		&__chars {
			font-size: 12px;
			margin-bottom: 12px;
			& strong {
				font-size: 12px;
			}
		}
		&__meta {
			&_price {
				margin-top: 15px;
				font-size: 12px;

				& .courses__price--default {
					font-size: 16px;
				}
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.courses {
		&__item {
			width: 45%;
		}
	}
}

@media screen and (max-width: 600px) {
	.courses {
		&__img {
			min-height: 140px;
		}
		&__label {
			font-size: 8px;
			left: 12px;
			padding: 5px 10px;
		}
		&__title {
			font-size: 14px;
		}
		&__desc {
			font-size: 10px;
		}
		&__meta {
			margin-right: 0;
		}
		&__top {
			margin-bottom: 8px;
		}
		&__buttons {
			grid-gap: 0 10px;
		}
		&__info {
			padding: 12px;
		}
	}
}

@media screen and (max-width: 500px) {
	.courses {
		&__item {
			width: 70%;
		}
		&__img {
			min-height: 180px;
		}
	}
}

@media screen and (max-width: 500px) {
	.courses {
		&__item {
			width: 73%;
		}
		&__img {
			min-height: 150px;
		}
	}
}
