$input-width: 195px;

.table {
	&__meta {
		margin-bottom: 50px;
	}

	&__wrapper {
		background-color: #fff;
		font-family: "Montserrat", sans-serif;
	}

	&__inner {
		padding: 26px;
		padding-top: 21px;
	}

	&__block {
		height: 85px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	&__managers {
		display: grid;
		grid-template-columns: repeat(4, auto);
		grid-gap: 20px;
	}

	&__select {
		min-width: $input-width;
		max-width: $input-width;
	}

	&__search {
		&_name {
			min-width: $input-width;
			max-width: $input-width;
		}

		&_price {
			max-width: 90px;
		}
	}

	&__date {
		&_inner {
			display: grid;
			grid-template-columns: repeat(5, auto);
			grid-gap: 10px;
			margin-bottom: 12px;

			& input {
				width: 100%;
				border: 0;
				cursor: pointer;
				text-align: center;
				max-width: 67px;
				font-weight: 700;
				font-family: "Montserrat", sans-serif;
				font-size: 12px;
				color: $purple;
				border-bottom: 1px solid $purple;
			}
		}
	}
}

.date-icon {
	cursor: pointer;
	transition: opacity .2s ease;

	&.disabled {
		pointer-events: none;
		opacity: .5;
	}

	&:hover {
		opacity: .85;
	}
}

.table {
	min-width: max-content;

	&__main {
		margin-top: 40px;
		overflow-x: auto;

		&_inner {
			max-width: calc(100vw - 400px);
		}
	}

	& progress[value] {
		max-width: 115px;
		background: #e4e4e4;
		border-radius: 50px;
		overflow: hidden;
		color: #000;
		margin-left: 12px;
		color: #ff8f60;
		border: none;

		&::-webkit-progress-value {
			border-radius: 50px;
			background: #ff8f60;
		}

		&::-webkit-progress-bar {
			background: #e4e4e4;
		}

		&::-moz-progress-bar {
			border-radius: 50px;
			background: #ff8f60;
		}
	}

	& th:not(:last-child),
	& td:not(:last-child) {
		padding-right: 16px;
	}

	& th {
		color: #373737;
		font-weight: 600;
	}

	& td {
		padding: 16px 0;
		border-bottom: 1px solid #ebebeb;
	}

	& th {
		user-select: none;
		padding-bottom: 16px;
		border-bottom: 1px solid #ebebeb;
		cursor: pointer;
	}

	& .sort {
		position: relative;

		&:after {
			margin-left: 10px;
			top: -2px;
			content: url("../imgs/sort-arrow.svg");
			position: relative;
		}

		&.asc {
			&:after {
				content: url("../imgs/sort-arrow-asc.svg");
			}
		}
	}

	width: 100%;
	text-align: left;
	border-collapse: collapse;

	& tbody {
		& td {
			color: #494949;

			&:first-child {
				display: flex;
				align-items: center;
				color: #000;
			}
		}

		& img {
			max-width: 30px;
			min-width: 30px;
			height: 30px;
			border-radius: 100%;
			margin-right: 16px;
			object-fit: cover;
		}
	}
}

.table__pagination {
	display: flex;
	margin-top: 24px;
	list-style: none;
	justify-content: flex-end;
	grid-gap: 10px;

	& li {
		width: 34px;
		height: 34px;
		background-color: transparent;
		transition: background-color 0.3s ease, color 0.3s ease;

		& a {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #202020;
		}

		&.active {
			background-color: $purple;
			font-weight: 700;
			border-radius: 2px;
			pointer-events: none;

			& a {
				color: #fff;
			}
		}

		&.disabled a {
			cursor: default;
		}
	}
}

@media screen and (max-width: 1000px) {
	.table {
		&__main {
			&_inner {
				max-width: calc(100vw - 60px);
			}
		}
	}
}

@media screen and (max-width: 850px) {
	$input-width: initial;

	.table {
		&__date {
			&_inner {
				margin-bottom: 0;
			}
		}

		&__managers {
			grid-template-columns: repeat(3, 1fr);

			&_label {
				display: block;
				margin-bottom: 15px;
			}
		}

		&__block {
			height: auto;
		}

		&__select {
			max-width: $input-width;
			min-width: $input-width;
		}
		&__search {
			&_name {
				max-width: $input-width;
				min-width: $input-width;
			}

			&_price {
				max-width: $input-width;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.table {
		&__meta {
			grid-gap: 10px;
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

@media screen and (max-width: 730px) {
	.table {
		&__managers {
			grid-template-columns: repeat(2, auto);
		}
	}
}

@media screen and (max-width: 600px) {
	.table {
		font-size: 14px;

		& .sort:after {
			margin-left: 5px;
		}

		& td {
			padding: 10px 0;
		}

		& th {
			padding-bottom: 10px;
		}

		&__inner {
			padding: 16px;
		}

		&__meta {
			margin-bottom: 30px;
		}

		&__pagination {
			margin-top: 16px;
		}

		&__date {
			&_text {
				text-align: center;
				font-size: 12px;
			}
			&_inner {
				align-items: center;
			}
		}

		&__search {
			&_name {
				grid-column: 1 / 3;
			}
		}

		&__managers {
			grid-gap: 15px;

			&_label {
				margin-bottom: 12px;
				font-size: 12px;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.table {
		font-size: 12px;

		& progress[value] {
			max-width: 65px;
		}

		&__pagination {
			& li {
				width: 28px;
				height: 28px;
				font-size: 14px;
			}
		}

		&__meta {
			grid-template-columns: repeat(2, 1fr);
		}

		&__select {
			grid-column: 1 / 3;
		}

		&__search {
			&_price {
				max-width: 80px;
			}
		}
	}
}
