$black: #353535;
$white: #fff;
$gradient: linear-gradient(100.37deg, #7776ff 0%, #ae2cf1 96.57%);

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		font-display: swap;
		src: url($furl) format("woff2");
	}
}

@include font("Futura", normal, 450, "../fonts/FuturaPT-Medium.woff2");
@include font("Futura", normal, 600, "../fonts/FuturaPT-Demi.woff2");
@include font("Playfair", normal, 600, "../fonts/PlayfairDisplay-SemiBold.woff2");
@include font("Playfair", normal, 700, "../fonts/PlayfairDisplay-Bold.woff2");

[x-cloak] {
	display: none !important;
}

html.overflow {
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	height: 100%;

	& body {
		overflow: hidden !important;
		height: 100%;
	}
}

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::placeholder {
	color: $black;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: $black;
	opacity: 1;
}

::selection {
	background: $black;
	color: $white;
}

html {
	font-size: 16px;
	overflow-x: hidden;
}

body {
	font-family: "Futura", sans-serif;
	background-color: $white;
}

a {
	color: $black;
}

img,
a,
button {
	user-select: none;
	text-decoration: none;
}

input,
button {
	background-color: transparent;
	border: 0;
	font-family: inherit;
	font-size: inherit;
}

button {
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
	appearance: none;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	min-width: 15px;
	position: relative;
	border: 2.5px solid #000;
	background-color: transparent;
	box-shadow: 0 0 0 1px #000;
	transition: box-shadow 0.1s ease, background-color 0.1s ease;

	&:hover {
		box-shadow: 0 0 0 2px #000;
	}

	&:checked {
		background-color: #000;
		box-shadow: 0 0 0 1px #000;

		&:hover {
			box-shadow: 0 0 0 2px #000;
		}
	}
}

input[type="checkbox"] {
	border-radius: 0;

	&:before {
		border-radius: 0;
	}
}

.container {
	max-width: 97%;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

@media screen and (min-width: 2200px) {
	.container {
		max-width: 1800px;
	}
}

path,
stop {
	transition: 0.2s ease;
}

.button-default {
	display: inline-block;
	min-width: 185px;
	padding: 16px 40px;
	font-size: 18px;
	color: $white;
	text-align: center;
	background-color: $black;
	letter-spacing: 0.04em;
	border-radius: 16px;
	position: relative;
	z-index: 1;
	transition: color .2s ease;

	&--sm {
		font-size: 14px;
		padding: 12px 24px;
		min-width: auto;
	}

	&::before {
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: $gradient;
		z-index: -1;
		transition: opacity 0.2s ease;
		opacity: 0;
		border-radius: inherit;
	}

	&:hover::before {
		opacity: 1;
	}

	&--gradient {
		border: 1px solid transparent;
		background: linear-gradient(to right, white, white), $gradient;
		background-origin: padding-box, border-box;
		background-clip: padding-box, border-box;
		background-repeat: no-repeat;
		color: $black;

		&::before {
			transition: opacity .2s ease, background .2s ease, border-color .2s ease;
		}

		&:hover {
			color: $white;
			background-clip: unset;
			background-origin: unset;
			background: #fff;
		}
	}

	&--white {
		background-color: $white;
		color: $black;

		&:hover {
			color: $white;
		}
	}
}

.gradient-text {
	background: $gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.gradient-link {
	background: $gradient;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;

	&:before {
		position: absolute;
		content: "";
		width: 0;
		height: 2px;
		left: 0;
		bottom: -3px;
		background: $gradient;
		transition: width .2s ease;
	}

	&:hover::before {
		width: 100%;
	}
}

.title {
	font-size: 32px;
	color: $black;
	text-align: center;
	margin-bottom: 80px;
	font-weight: 450;

	&--white {
		color: $white;
	}

	& span {
		position: relative;

		&::before, &::after {
			position: absolute;
			content: '';
			width: 100px;
			height: 14px;
			background-repeat: no-repeat;
		}

		&::before {
			background-image: url("../images/dist/title-left.svg");
			left: -120px;
			top: 8px;
		}

		&::after {
			background-image: url("../images/dist/title-right.svg");
			bottom: 8px;
			right: -120px;
		}
	}
}
