.section {
	&-4 {
		background-position: right;
		background-size: auto 100%;

		&__blocks {
			margin-top: 40px;
		}

		&__block {
			display: flex;
			flex-direction: column;
			border-top: 2px solid $red;
			background-color: #fff;
			padding: 30px;
			max-width: 750px;
			margin-bottom: 25px;

			&:nth-child(2) {
				margin-left: 10%;
			}
			&:last-child {
				margin-left: 20%;
				margin-bottom: 0;
			}
		}

		&__text {
			color: $gray;
			font-size: 14px;
			line-height: 1.5;
			margin-bottom: 15px;

			&--md {
				color: $red;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 16px;
			}
		}
	}
}

@media screen and (max-width: 1700px) {
	.section {
		&-4 {
			&__blocks {
				margin-top: 25px;
			}
			&__block {
				padding: 20px;
				transform: $scale-alt;
				transform-origin: top left;
				margin-bottom: 0;
			}
			&__text {
				margin-bottom: 0;

				&--md {
					display: none;
					font-size: 16px;
				}
			}
		}
	}
}


@media screen and (max-width: 1200px) {
	.section {
		&-4 {
			background-image: url('../imgs/section4-bg-alt.png') !important;
			background-size: auto 120%;
		//	background-position: left bottom !important;

		&__text {
			&--md {
				display: block;
				margin-top: 20px;
			}
		}
		}
	}
}

@media screen and (max-width: 600px) {
	.section {
		&-4 {
			padding-bottom: 100px;
			background-size: auto 100%;
			&__block {
				transform: translateX(-20px);
				width: 100vw;
				max-width: none;
				margin-left: 0 !important;
				margin-bottom: 60px;
			}
		}
	}
	
}