.examples {
	background-color: #f5f5f5;
	padding: 70px 0;
	margin-top: 90px;

	& .title {
		margin-bottom: 65px;
	}

	&__slider {
		max-width: 920px;
		margin: 0 auto;
		position: relative;

		& .swiper-button-next,
		& .swiper-button-prev {
			color: $white;
			width: 50px;
			height: 50px;
			background-color: $blue;
			border-radius: 100%;

			&::after {
				font-size: 16px;
			}
		}

		& .swiper-button-next {
			right: -70px;
		}
		& .swiper-button-prev {
			left: -70px;
		}
	}

	&__item {
		background-color: $white;
		border-radius: 15px;
		display: flex;

		&:nth-child(2n+1) {
			& .examples__item_img {
				background-color: #e8f7fe;
			}
		}

		&:nth-child(3n+1) {
			& .examples__item_img {
				background-color: #fceaea;
			}
		}

		&_img {
			max-width: 370px;
			width: 100%;
			padding: 15px 50px;
			border-radius: 15px;
			background-color: #13945f;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&_info {
			padding: 60px 40px;
		}

		&_title {
			font-weight: 600;
			font-size: 24px;
			line-height: 1.25;
			display: block;
			margin-bottom: 30px;
		}

		&_text {
			&:not(:last-child) {
				margin-bottom: 40px;
			}

			&-title {
				display: block;
				margin-bottom: 15px;
				font-size: 18px;
				font-weight: 600;
			}

			&-desc {
				color: $gray7;
				line-height: 1.5;
			}
		}
	}
}

.swiper-pagination {
	display: none;
	left: 50%;
	bottom: -35px;
	transform: translateX(-50%);

	&-bullet {
		width: 12px;
		height: 12px;

		&:not(:last-child) {
			margin-right: 5px;
		}
	}
}

@media screen and (max-width: 1100px) {
	.examples__slider .swiper-button-next,
	.examples__slider .swiper-button-prev {
		display: none;
	}
	.swiper-pagination {
		display: flex;
		bottom: -25px;
		&-bullet {
			width: 8px;
			height: 8px;
		}
	}
}

@media screen and (max-width: 900px) {
	.examples {
		&__item {
			&_img {
				padding: 15px;
				display: flex;
				align-items: center;
				justify-content: center;

				& img {
					height: auto;
				}
			}

			&_info {
				padding: 20px;
			}

			&_title {
				font-size: 20px;
			}

			&_text {
				&-title {
					font-size: 16px;
					margin-bottom: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.examples {
		&__item {
			display: flex;
			flex-direction: column;

			&_img {
				max-width: none;

				& img {
					max-width: 200px;
				}
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.examples {
		margin-top: 60px;

		padding: 40px 0;

		& .title {
			margin-bottom: 30px;
		}

		&__item {
			&_img {
				& img {
					max-width: 170px;
				}
			}
		}
	}
}
