.footer {
	margin-top: 70px;
	border-top: 1px solid rgba(176, 176, 176, 0.3);

	&__inner {
		padding-top: 40px;
		padding-bottom: 60px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__copyright {
		padding: 10px;
		background: rgba(177, 177, 177, 0.05);
		color: $gray7;
		text-align: center;
	}

	&__logo {
		display: flex;
		align-items: center;
		max-width: 315px;

		&_wrapper {
			display: flex;
			flex-direction: column;
		}

		&_copyright {
			color: #656565;
			margin-top: 15px;
			font-size: 14px;
		}

		&_info {
			display: flex;
			flex-direction: column;
			margin-left: 20px;
		}

		&_name {
			font-weight: 600;
			margin-bottom: 8px;
			display: block;
		}

		&_slogan {
			font-size: 12px;
			line-height: 1.4;
		}
	}

	&__list {
		&_wrapper {
			max-width: 280px;
		}

		list-style: none;

		&_title {
			display: block;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 20px;
		}

		&_item {
			color: $gray7;

			&:not(:last-child) {
				margin-bottom: 15px;
			}

			& a {
				color: $gray7;
				transition: color 0.2s ease;

				&:hover,
				&:focus {
					color: $blue;
				}
			}
		}
	}

	&__contacts {
		&_list {
			list-style: none;
			margin-bottom: 35px;

			&-item {
				position: relative;
				padding-left: 35px;

				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}

			&-text {
				color: $gray7;

				& strong {
					font-weight: 600;
					color: $black;
					transition: color 0.2s ease;
				}
			}

			&-text {
				transition: color 0.2s ease;

				&:hover,
				&:focus {
					color: $blue;

					& strong {
						color: $blue;
					}
				}
			}

			&-img {
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.footer {
		&__contacts {
			max-width: 300px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.footer {
		&__logo {
			max-width: 250px;

			& img {
				max-width: 70px;
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.footer {
		&__inner {
			flex-wrap: wrap;
		}

		&__list {
			&_wrapper {
				margin-right: auto;
				margin-left: 100px;
			}
		}

		&__contacts {
			margin-top: 40px;
			width: 100%;
			max-width: none;
		}
	}
}

@media screen and (max-width: 620px) {
	.footer {
		&__inner {
			flex-direction: column;
		}

		&__list {
			&_wrapper {
				margin-left: 0;
				margin-top: 40px;
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.footer {
		&__contacts {
			max-width: none;
			&_button {
				.form-button {
					width: 100%;
					max-width: none;
				}
			}
		}
		&__list {
			&_wrapper {
				max-width: none;
			}
		}
		&__logo {
			max-width: none;
		}
	}
}