.header {
	background-color: $white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	box-shadow: 0 0.625rem 1.25rem rgba(224, 224, 224, 0.29);

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 0;
	}

	&__logo {
		display: flex;
		align-items: center;

		&:hover span,
		&:focus span {
			color: $blue;
		}

		& span {
			margin-left: 15px;
			font-weight: 600;
			color: $black;
			transition: color 0.2s ease;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		&_tel {
			font-weight: 600;
			color: $black;
			font-size: 20px;
			transition: color 0.2s ease;

			&:hover,
			&:focus {
				color: $blue;
			}
		}

		&_btn {
			color: $blue;
			border-bottom: 1px solid $blue;
			transition: border-color 0.2s ease;

			&:hover,
			&:focus {
				border-color: transparent;
			}
		}
	}

	&__menu,
	&__burger {
		display: none;
	}
}

.nav {
	display: flex;
	align-items: center;

	&__item {
		position: relative;
		font-size: 18px;
		color: $black;

		&--active > .nav__item_label {
			font-weight: 600;
			color: $blue;
			position: relative;

			&::after {
				pointer-events: none;
				position: absolute;
				content: "";
				left: 0;
				bottom: -5px;
				height: 2px;
				background-color: $blue;
				width: 100%;
				z-index: 5;
				opacity: 1;
			}
		}

		&_label {
			transition: color 0.2s ease;
			position: relative;
			cursor: pointer;
			font-size: 18px;
			color: $black;
			user-select: none;

			&.mark {
				padding-right: 15px;

				&::before {
					position: absolute;
					content: "";
					right: 0;
					top: 50%;
					background-image: url("../images/dist/logo-arrow.svg");
					background-repeat: no-repeat;
					background-size: contain;
					width: 8px;
					height: 5px;
					transform: translateY(-50%);
				}
			}

			&::after {
				pointer-events: none;
				position: absolute;
				content: "";
				left: 0;
				bottom: -5px;
				height: 2px;
				background-color: $blue;
				width: 0;
				transition: width 0.2s ease;
				z-index: 5;
			}

			&:hover,
			&:focus {
				color: $blue;

				&::after {
					opacity: 1;
					width: 100%;
				}
			}
		}

		&:not(:last-child) {
			margin-right: 20px;
		}

		&:hover,
		&:focus {
			& .nav__item_menu {
				opacity: 1;
				visibility: visible;
			}
		}

		&_menu {
			display: flex;
			flex-direction: column;
			min-width: 330px;
			width: 100%;
			top: 25px;
			left: 0;
			position: absolute;
			list-style: none;
			padding: 20px;
			background-color: $white;
			opacity: 0;
			visibility: collapse;
			transition: opacity 0.2s ease, visibility 0.2s ease;
			box-shadow: 0 0.625rem 1.25rem rgba(224, 224, 224, 0.29);

			&-label {
				font-size: 18px;
				color: $black;
				transition: color 0.2s ease;
				cursor: pointer;
				position: relative;
				line-height: 1.3;

				&.mark {
					padding-right: 15px;

					&::before {
						position: absolute;
						content: "";
						right: 0;
						top: 50%;
						background-image: url("../images/dist/logo-arrow.svg");
						background-repeat: no-repeat;
						background-size: contain;
						width: 8px;
						height: 5px;
						transform: translateY(-50%);
					}
				}

				&:hover,
				&:focus {
					color: $blue;
				}
			}

			&-item {
				&:not(:last-child) {
					margin-bottom: 5px;
				}

				&.mark {
					position: relative;

					&:hover,
					&:focus {
						& .nav__item_menu-sub {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}

			&-sub {
				display: flex;
				flex-direction: column;
				background-color: #fff;
				padding: 15px;
				position: absolute;
				right: -310px;
				bottom: -50px;
				min-width: 230px;
				width: 100%;
				opacity: 0;
				visibility: collapse;
				box-shadow: 0 0.625rem 1.25rem rgba(224, 224, 224, 0.29);
				transition: opacity 0.4s ease, visibility 0.4s ease;
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	.nav {
		&__item {
			font-size: 16px;

			&_label {
				font-size: 16px;
			}

			&_menu {
				&-label {
					font-size: 16px;
				}

				&-sub {
					right: auto;
					left: -310px;
				}
			}
		}
	}
}

@media screen and (max-width: 1050px) {
	.nav {
		display: none;
	}
	.header {
		&__contacts {
			margin-left: auto;
			margin-right: 20px;
		}

		&__burger {
			display: flex;

			& button {
				display: flex;
			}
		}

		&__logo {
			& img {
				height: auto;
				max-width: 50px;
			}
		}

		&__menu {
			width: 350px;
			display: flex;
			position: fixed;
			top: 0;
			left: 0;
			background-color: $white;
			height: 100%;
			padding: 15px;
			z-index: 500;
			opacity: 0;
			visibility: collapse;
			transform: translateX(-100%);
			transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease;
			box-shadow: 0 0.625rem 1.25rem rgba(224, 224, 224, 0.29);

			&--active {
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
			}

			&_inner {
				position: relative;
				display: flex;
				flex-direction: column;
				height: inherit;
				width: 100%;
			}

			&_close {
				position: absolute;
				right: -5px;
				top: -10px;
			}

			& .header__contacts {
				margin-left: 0;
				margin-right: 0;
				align-items: flex-start;
				margin-top: 20px;

				&_btn {
					font-size: 16px;
					margin-top: 3px;
				}
			}

			& .header__logo {
				margin-bottom: 40px;
			}

			& .nav {
				flex-direction: column;
				display: flex;
				align-items: flex-start;
				width: 100%;

				&__item {
					font-size: 20px;
					margin-right: 0;

					&_label {
						font-size: 20px;
					}

					&:not(:last-child) {
						margin-bottom: 15px;
					}

					&_menu {
						display: none;
						top: auto;
						left: auto;
						position: initial;
						padding: 15px;
						min-width: auto;

						&-sub {
							display: none;
							top: auto;
							left: auto;
							right: auto;
							bottom: auto;
							position: initial;
							padding: 15px;
							min-width: auto;

							& .nav__item_menu-label {
								font-size: 16px;

								&:not(:last-child) {
									margin-bottom: 5px;
								}
							}
						}
					}
				}
			}
		}
	}
	.header__menu .nav__item .nav__item_menu,
	.header__menu .nav__item .nav__item_menu {
		opacity: 1;
		visibility: visible;
	}
	.nav__item_menu-item.mark .nav__item_menu-sub,
	.nav__item_menu-item.mark .nav__item_menu-sub {
		opacity: 1;
		visibility: visible;
	}
}

@media screen and (max-width: 680px) {
	.header {
		&__menu {

			& .nav {
				&__item {
					&:not(:last-child) {
						margin-bottom: 5px;
					}

					&_label {
						font-size: 16px;
					}

					&_menu {
						padding: 10px;

						&-sub {
							padding: 10px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.header {
		&__logo {
			& span {
				font-size: 14px;
			}

			& img {
				max-width: 40px;
			}
		}

		&__menu {
			width: 100%;
		}

		&__contacts {
			margin-right: 10px;
			
			&_tel {
				font-size: 16px;
			}
		}
	}
}

@media screen and (max-width: 359px) {
	.header {
		&__logo {
			& span {
				display: none;
			}
		}

		&__contacts {
			margin-right: 15px;
			&_tel {
				font-size: 18px;
			}
		}

		&__menu {
			& .header__logo {
				& span {
					display: block;
				}
			}
		}
	}
}

main {
	padding-top: 103px;
}
@media screen and (max-width: 1050px) {
	main {
		padding-top: 87px;
	}
}
@media screen and (max-width: 550px) {
	main {
		padding-top: 75px;
	}
}
