.questions {
	margin-top: 150px;

	& .title {
		margin-bottom: 30px;
	}

	&__item {

		&_title {
			font-size: 18px;
			color: $gray6;
			padding-right: 50px;
		}

		&_btn {
			color: $blue;
			font-weight: 700;
			font-size: 28px;
			line-height: 1;
		}

		&_header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 40px 45px;
			border: 1px solid rgba(0, 0, 0, 0.4);
			border-radius: 20px;
			transition: border-color .2s ease;
			user-select: none;

			&:hover, &:focus {
				cursor: pointer;
				border-color: $blue;
			}
		}

		&_content {
			margin-top: 30px;
			margin-bottom: 45px;
			padding: 0 30px;
			display: none;

			& p {
				line-height: 1.5;
				color: #656565;
			}
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

@media screen and (max-width: 700px) {
	.questions {
		&__item {
			&_header {
				padding: 30px;
			}
			&_title {
				font-size: 16px;
			}
		}
	}	
}

@media screen and (max-width: 550px) {
	.questions {
		margin-top: 80px;

		&__item {
			&_header {
				padding: 20px;
			}
			&_title {
				font-size: 14px;
				padding-right: 15px;
			}
		}
	}	
}