.suggestion {
	margin-top: 80px;

	&__inner {
		background-color: $blue;
		box-shadow: 0px 20px 20px rgba(94, 122, 170, 0.12);
		border-radius: 50px;
		padding: 35px 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $white;
	}

	&__info {
		display: flex;
		flex-direction: column;
		max-width: 600px;

		& .title {
			color: $white;
			margin-bottom: 20px;
			font-size: 24px;
		}

		&_text {
			display: block;
			font-size: 18px;
			margin-bottom: 20px;
		}

		&_subtext {
			margin-top: 15px;
			display: block;
			font-size: 13px;
			max-width: 580px;
			opacity: .7;
		}
	}

	&__form {
		display: flex;
		align-items: center;

		& input {
			margin-right: 15px;
		}

		& * {
			max-width: 292px;
			width: 100%;
			margin: 0;
		}

		& .form-button {
			font-size: 18px;
			font-weight: 600;
		}
	}

	&__spec {
		display: flex;
		align-items: center;

		&_info {
			display: flex;
			flex-direction: column;
			margin-left: 20px;
		}

		&_position {
			color: rgba(255, 255, 255, 0.7);
			margin-bottom: 30px;
			max-width: 100px;
			line-height: 1.2;
		}

		&_name {
			font-size: 20px;
			font-weight: 600;
			max-width: 170px;
			line-height: 1.3;
		}
	}
}

@media screen and (max-width: 1200px) {
	.suggestion {
		&__spec {
			display: none;
		}

		&__info {
			max-width: none;
			width: 100%;

			&_subtext {
				max-width: none;
			}
		}

		&__form {
			& * {
				max-width: none;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.suggestion {
		&__inner {
			padding: 30px;
		}
	}
}

@media screen and (max-width: 660px) {
	.suggestion {
		&__form {
			flex-direction: column;

			& .form-input {
				margin-right: 0;
				margin-bottom: 15px;
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.suggestion {
		&__inner {
			padding: 30px 20px;
			border-radius: 12px;
		}

		& .title {
			font-size: 20px;
		}

		&__form {
			& .form-button {
				font-size: 16px;
			}
		}

		&__info {
			&_text {
				font-size: 14px;
			}
			&_subtext {
				font-size: 11px;
			}
		}
	}
}