.features {
	background-color: #333;
	z-index: 3;
	position: relative;

	&__bg {
		width: 100%;
		height: 100%;
		transform: scale(1.4);

		&_wrapper {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	}

	&__inner {
		padding-bottom: 150px;
		position: relative;
		z-index: 3;
	}

	&__title {
		font-weight: 500;
		font-size: 138px;
		max-width: 680px;
		line-height: 0.67;
		color: $green;
		margin-bottom: 70px;
		transform: translateY(-60px);
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: -120px;
		margin-top: -120px;
	}

	&__item {
		max-width: 350px;
		margin-left: 120px;
		margin-top: 120px;
		display: flex;
		flex-direction: column;

		&_title {
			color: $green;
			margin-bottom: 18px;
			font-weight: 500;
			font-size: 24px;
			display: block;
		}

		&_desc {
			color: #fff;
			line-height: 1.1;
		}
	}
}

@media screen and (max-width: 1366px) {
	.features {
		&__bg {
			transform: scale(2);
		}
	}
}

@media screen and (max-width: 1150px) {
	.features {
		&__items {
			margin-top: -60px;
			margin-left: -60px;
			justify-items: initial;
		}

		&__item {
			margin-top: 60px;
			margin-left: 60px;
		}
	}
}

@media screen and (max-width: 850px) {
	.features {
		&__inner {
			padding-top: 40px;
			padding-bottom: 80px;
		}

		&__bg {
			transform: scale(2) rotate(90deg);
		}

		&__title {
			transform: none;
			max-width: 640px;
			font-size: 100px;
		}
	}
}

@media screen and (max-width: 800px) {
	.features {
		&__items {
			justify-content: flex-start;
		}

		&__item {
			&:nth-child(even) {
				margin-left: auto;
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.features {
		&__items {
			margin-top: -40px;
			margin-left: -40px;
		}

		&__item {
			max-width: 85%;
			margin-left: 40px;
			margin-top: 40px;

			&_title {
				font-size: 18px;
				margin-bottom: 12px;
			}

			&_desc {
				font-size: 12px;
			}
		}

		&__title {
			font-size: 60px;
			margin-bottom: 45px;
			max-width: 350px;
		}
	}
}

@media screen and (max-width: 450px) {
	.features {
		&__bg {
			transform: scale(2.5) rotate(90deg);
		}
	}
}

@media screen and (max-width: 355px) {
	.features {
		&__bg {
			transform: scale(3.2) rotate(90deg);
		}
	}
}
