$green: #95c11f;

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

::selection {
	color: #fff;
	background-color: $green;
}

html {
	font-size: 16px;
	overflow-x: hidden;
}

body {
	font-family: "Gotham", "Arial", sans-serif;
	max-width: 2256px;
	margin: 0 auto;

	&.mainpage {
		background-color: #222;
		position: relative;

		&:before {
			position: fixed;
			width: 1px;
			height: 100%;
			left: 160px;
			top: 0;
			background-color: #6d6d6d;
			opacity: 0.5;
			content: "";
			z-index: 2;
		}

		&:after {
			position: fixed;
			width: 1px;
			height: 100%;
			right: 160px;
			top: 0;
			background-color: #6d6d6d;
			opacity: 0.5;
			content: "";
			z-index: 2;
		}
	}
}

a,
img,
button {
	user-select: none;
}

a {
	text-decoration: none;
	color: #fff;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.container {
	max-width: 1650px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	&--md {
		font-weight: 500;
		font-size: 36px;
		letter-spacing: 0.01em;
		line-height: 1.2;
		max-width: 583px;
		text-transform: uppercase;
		color: #fff;
	}
}

.button {
	background-color: $green;
	color: #fff;
	font-family: inherit;
	font-size: 18px;
	line-height: 1;
	border: 2px solid $green;
	padding: 17px 34px;
	transition: color 0.2s ease, background-color 0.2s ease;

	&--lg {
		text-transform: uppercase;
		padding: 24px 32px;
		text-align: center;
	}

	&:hover,
	&:focus {
		background-color: transparent;
		color: $green;
	}
}


.tab__selector {
	background-color: #2d2d2d;
	font-weight: 400;
	padding: 14px 20px;
	font-size: 24px;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #222;
	}

	&.active {
		background-color: #828282;
		font-weight: 500;
		cursor: default;
	}
}