.header {
	background-color: #000;
	position: relative;
	height: 100vh;
	overflow: hidden;

	&:before {
		position: fixed;
		width: 1px;
		height: 100%;
		left: 160px;
		top: 0;
		background-color: #5A5A5A;
		opacity: .5;
		content: '';
		z-index: 2;
	}
	&:after {
		position: fixed;
		width: 1px;
		height: 100%;
		right: 160px;
		top: 0;
		z-index: 2;
		background-color: #6D6D6D;
		opacity: .5;
		content: '';
	}

	&__bg {
		position: absolute;
		width: 100%;
		z-index: 1;

		&_neon {
			z-index: 2;
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
	}

	&__container {
		padding: 40px 50px;
		padding-top: 80px;
		z-index: 10;
		position: relative;
		height: inherit;
	}

	&__logo {
		margin-left: 160px;
	}

	&__tel {
		margin-left: auto;
	}

	&__body {
		margin-top: 14%;
		margin-left: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__button {
		margin-top: 120px;
	}
}
