.portfolio {
	background-color: #434343;
	position: relative;
	z-index: 3;

	&__inner {
		padding-top: 95px;
		padding-bottom: 115px;
	}

	&__selectors {
		flex-wrap: wrap;
		margin-bottom: 55px;
	}

	&__examples {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	&__example {
		position: relative;
		overflow: hidden;

		&:hover {
			.portfolio__info {
				transform: scale(1);
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__info {
		position: absolute;
		will-change: transform;
		left: 0;
		top: 0;
		padding: 15px;
		width: 100%;
		height: 100%;
		text-align: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.7);
		opacity: 0;
		visibility: hidden;
		transform: scale(0.75);
		transition: transform 0.3s ease, opacity 0.3s ease, visibility .3s ease;

		&_title {
			font-size: 58px;
			font-weight: 700;
			margin-bottom: 24px;
		}

		&_desc {
			font-size: 24px;
			line-height: 1.5;
		}
	}

	&__img {
		transform: scale(1.05);
		transform-origin: center;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__more {
		&_wrapper {
			display: flex;
			justify-content: center;
		}

		display: flex;
		flex-direction: column;
		font-size: 18px;
		padding: 25px 75px;
		background-color: #737373;

		transition: background-color 0.3s ease;

		&:hover {
			background-color: #333;
		}
	}

	&__block {
		display: none;

		&.active {
			display: block;
		}
	}
}

@media screen and (max-width: 1366px) {
	.portfolio {
		&__info_title {
			font-size: 42px;
		}
	}
}

@media screen and (max-width: 1100px) {
	.portfolio {
		&__inner {
			padding: 80px 0;
		}

		&__examples {
			grid-template-columns: repeat(2, 1fr);
		}
		&__info_title {
			font-size: 36px;
		}
		&__info_desc {
			font-size: 18px;
		}
	}
}

@media screen and (max-width: 768px) {
	$gap: 15px;

	.tab__selector {
		font-size: 18px;
		padding: 12px 18px;
	}
}

@media screen and (max-width: 650px) {
	.portfolio {
		&__examples {
			grid-template-columns: 1fr;
			grid-gap: 32px 0;
		}

		&__info {
			position: initial;
			transform: none;
			margin-top: 20px;
			padding-top: 0;
			height: auto;
			background-color: transparent;
			opacity: 1;
			visibility: visible;

			&:hover,
			&:focus {
				transform: none;
			}
		}
	}

	.mainpage .portfolio {
		&__example {
			display: none;
			&:nth-child(-n + 3) {
				display: block;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.portfolio {
		&__inner {
			padding: 0;
			padding-top: 35px;
		}

		&__selectors {
			margin-bottom: 45px;
		}

		&__info {
			&_title {
				font-size: 24px;
				margin-bottom: 15px;
			}

			&_desc {
				font-size: 12px;
			}
		}

		&__more {
			font-size: 16px;
			padding: 18px 45px;

			&_wrapper {
				margin-top: 75px;
			}
		}
	}

	.tab__selector {
		font-size: 14px;
		padding: 10px 14px;
	}
}
