.country-sub {
	padding-top: 160px;
	padding-bottom: 140px;

	&.blue {
		background-color: rgba(91, 190, 200, 0.13);
	}

	&__wrapper {
		margin-top: 85px;
	}

	&__item {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 35px;
		}

		& > * {
			flex-basis: 50%;
		}

		&:nth-child(even) {
			flex-direction: row-reverse;

			& .country-sub__info {
				margin-right: 0;
				margin-left: 70px;
			}
		}
	}

	&__img {
		width: 100%;

		& img {
			max-width: 100%;
		}
	}

	&__info {
		margin-right: 70px;
		font-size: 14px;
	}

	&__subtitle {
		font-size: 24px;
		font-weight: 500;
		font-family: "Roboto", sans-serif;
		margin-bottom: 25px;
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
}

@media screen and (max-width: 1300px) {
	.country-sub {
		padding-bottom: 70px;
	}
}

@media screen and (max-width: 600px) {
	.country-sub {
		padding-top: 80px;
		padding-bottom: 60px;

		&_subtitle {
			font-size: 20px;
			margin-bottom: 20px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.country-sub {
		&__wrapper {
			margin-top: 50px;
		}

		&__item {
			flex-direction: column-reverse !important;
		}

		&__img {
			margin-bottom: 25px;
			display: flex;
			justify-content: center;
		}

		&__info {
			margin: 0 !important; 
		}
	}
}