.header {
	background-color: $blue;
	color: $white;
	position: relative;

	&__burger {
		display: none;
		margin-left: 15px;
	}

	&__menu {
		display: none;
	}

	&__panel {
		position: absolute;
		z-index: 10;
		display: flex;
		justify-content: center;
		width: 100%;

		&_inner {
			display: flex;
			align-items: center;
			padding: 15px 0;
		}
	}
}

.nav {
	display: flex;
	margin-left: auto;
	align-items: center;

	&__link {
		color: $white;
		position: relative;
		cursor: pointer;

		& span {
			transition: color 0.1s ease;
			position: relative;
			z-index: 1;
		}

		&:hover,
		&:active {
			& span {
				color: $orange;
				z-index: 15;
			}
		}

		&:not(:last-child) {
			margin-right: 60px;
		}

		&.popup {
			& span {
				padding-right: 22px;
			}

			& span:before {
				position: absolute;
				content: "";
				top: 0;
				right: 0;
				width: 15px;
				height: 15px;
				background-image: url("../images/dist/arrow-hover.svg");
				background-repeat: no-repeat;
				transition: transform 0.1s ease;
				background-size: contain;
				z-index: 5;
				display: block;
			}

			&:hover,
			&:active {
				& span:before {
					transform: rotate(90deg);
					background-image: url("../images/dist/arrow-hover-active.svg");
				}

				& .nav__link_popup {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	&__link_popup {
		opacity: 0;
		visibility: collapse;
		transition: opacity 0.1s ease, visibility 0.1s ease;
		border-radius: 10px;
		background-color: $white;
		position: absolute;
		z-index: 10;
		top: -10px;
		left: -20px;
		padding: 40px 20px;
		padding-bottom: 20px;
		min-width: 125px;
	}

	&__sublink {
		display: flex;
		align-items: center;
		color: $gray;
		transition: color 0.1s ease;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		& img {
			margin-right: 10px;
			width: 24px;
			height: 24px;
		}

		&:hover,
		&:active {
			text-decoration: underline;
			color: $black;

			& img {
				filter: brightness(0) saturate(100%);
			}
		}
	}
}

.header__search {
	position: relative;
	margin-left: 45px;
	z-index: 6;

	&_form {
		position: absolute;
		background-color: $white;
		padding: 7px 10px;
		display: flex;
		border-radius: 10px;
		align-items: center;
		justify-content: space-between;
		top: 0;
		right: 0;

		& input {
			width: 150px;
			outline: none;
			margin-right: 15px;
			font-size: 16px;
			color: $gray;
			padding-bottom: 5px;
			border-bottom: 1px solid $orange;
		}
	}
}

.header__fulltime {
	margin-left: 45px;
}

.header__phones {
	display: flex;
	align-items: center;
	margin-left: 45px;

	&_links {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-left: 5px;

		& a {
			color: $white;
			transition: color 0.1s ease;

			&:hover,
			&:active {
				color: $orange;
			}
		}
	}
}

.header__user {
	margin-left: 60px;
}

@media screen and (max-width: 1650px) {
	.header {
		&__navigation {
			width: 85px;
			top: 65%;
			left: 4%;

			& .swiper-button-prev {
				left: 0;
			}
		}
	}
}

@media screen and (max-width: 1600px) {
	.header {
		&__navigation {
			left: 30px;
		}
	}
}

@media screen and (max-width: 1370px) {
	.header {
		&__slide {
			padding-top: 150px;
			min-height: 100vh;

			&_socials {
				margin-top: 24px;
			}

			&_inner {
				flex-direction: column;
				align-items: flex-start;
			}

			&_hotels {
				margin-top: 30px;
				margin-bottom: 70px;
			}
		}

		&__slider {
			&_container {
				min-height: 100vh;
				height: auto;
			}
		}

		&__pagination {
			bottom: 25px;
		}

		&__navigation {
			top: 27%;
			right: 70px;
			left: auto;
		}
	}

	.nav {
		&__link {
			&:not(:last-child) {
				margin-right: 24px;
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	.nav {
		display: none;
	}

	.header {
		&__menu {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			background-color: $blue;
			width: 100%;
			height: 100%;
			z-index: 9999;

			&_inner {
				padding: 30px;
				position: relative;
			}

			& .nav {
				flex-direction: column;
				align-items: flex-start;

				&__link {
					&:not(:last-child) {
						margin-bottom: 25px;
					}
				}
			}

			& .mobile {
				display: flex !important;
				margin-left: 0 !important;
				margin-bottom: 20px;
			}

			& .header__search_form {
				right: 0;
				left: 0;
				width: 100%;
			}

			& .header__user.mobile, & .header__search_icon {
				display: flex;
				align-items:  center;
				& span {
					color: $white;
					margin-left: 20px;
					font-size: 16px;
				}
			}

			&_close {
				position: absolute;
				right: 30px;
				top: 30px;

				& img {
					width: 24px;
					height: 24px;
				}
			}
		}
	}

	.header {
		&__slide {
			background-position: 35%;
		}

		&__burger {
			display: block;
		}

		&__user,
		&__search,
		&__phones,
		&__fulltime,
		&__burger {
			margin-left: 25px;
		}

		&__logo {
			margin-right: auto;
		}
	}
}

@media screen and (max-width: 900px) {
	.header {
		&__slide {
			&_title {
				font-size: 44px;
			}

			&_subtitle {
				font-size: 18px;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.header {
		&__slide {
			min-height: 700px;

			&_socials {
				display: none;
			}

			&_hotels {
				margin-top: 120px;
				width: calc(100% + 45px);
				margin-left: -15px;
			}
		}

		&__slider {
			&_container {
				min-height: 700px;
			}
		}

		&__navigation {
			top: 42%;
			left: 30px;
			right: auto;
			width: 100%;

			& .swiper-button-next {
				right: 60px;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.header {
		&__user,
		&__search,
		&__phones,
		&__fulltime,
		&__burger {
			margin-left: 15px;
		}

		&__user,
		&__search,
		&__fulltime {
			display: none;
		}
	}
}

@media screen and (max-width: 500px) {
	.header {
		&__slide {
			&_title {
				font-size: 36px;
			}

			&_subtitle {
				font-size: 16px;
			}

			&_hotels {
				margin-bottom: 20px;
			}
		}

		&__hotels {
			&_slide {
				max-width: 150px;
				min-width: 150px;
			}
		}

		&__navigation {
			top: 300px;
		}

		&__pagination {
			bottom: 35px;
		}
	}
}
