.popular {
	padding-top: 180px;
	padding-bottom: 150px;
	background-color: rgba(91, 190, 200, 0.13);

	&.white {
		background-color: $white;
	}

	& .hotels__list_inner {
		margin-top: 60px;
	}

	&__main {
		margin-top: 60px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 15px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		border-top-right-radius: 30px;
		border-bottom-left-radius: 30px;
		background-size: cover;
		background-repeat: no-repeat;
		height: 300px;
		justify-content: flex-end;
		transition: box-shadow 0.1s ease;

		&:hover,
		&:active {
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);

			& .popular__item_info {
				background-color: $orange;
			}
		}

		&_info {
			background-color: $orange-op;
			transition: background-color 0.1s ease;
			padding: 25px 15px;
			max-width: 70%;
			width: 100%;
			display: flex;
			align-items: center;
			color: $white;
			font-size: 18px;
			position: relative;

			& img {
				margin-right: 15px;
			}

			&:before {
				content: "";
				position: absolute;
				width: 40px;
				height: 40px;
				background-repeat: no-repeat;
				background-size: contain;
				right: 15px;
				top: 50%;
				transform: translateY(-50%);
				background-image: url("../images/dist/arrow-right-w.svg");
			}
		}
	}
}

@media screen and (max-width: 1500px) {
	.popular {
		padding-top: 160px;
		padding-bottom: 100px;

		&__item {
			height: 250px;

			&_info {
				padding: 15px 10px;

				&:before {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	.popular {
		padding-top: 130px;
		padding-bottom: 80px;

		&__main {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 40px;
		}

		&__item {
			height: 400px;
			background-position: center center;

			&_info {
				padding: 15px 10px;

				&:before {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	.popular {
		&__main {
			grid-gap: 20px;
		}

		&__item {
			height: 320px;
		}
	}
}

@media screen and (max-width: 900px) {
	.popular {
		&__main {
			grid-gap: 15px;
		}

		&__item {
			height: 280px;
		}
	}
}

@media screen and (max-width: 700px) {
	.popular {
		&__item {
			height: 250px;
		}
	}
}

@media screen and (max-width: 650px) {
	.popular {
		&__main {
			grid-template-columns: 1fr;
		}
	}
}

@media screen and (max-width: 450px) {
	.popular {
		&__item {
			& span {
				font-size: 16px;
			}

			& img {
				max-height: 32px;
				margin-right: 10px;
			}
		}
	}
}
