.search-tours {
	padding-top: 180px;
	padding-bottom: 150px;

	&__city {
		display: inline-block;
		cursor: pointer;
		position: relative;

		&_selected {
			position: relative;
			text-decoration: underline;

			&:before {
				position: absolute;
				content: "";
				top: 20px;
				right: -35px;
				width: 30px;
				height: 30px;
				background-image: url("../images/dist/arrow-hover-active.svg");
				background-repeat: no-repeat;
				transition: transform 0.1s ease;
				background-size: contain;
				z-index: 5;
				transform: rotate(90deg);
			}
		}

		&_popup {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 85px;
			left: 0;
			min-width: 100%;
			background-color: $white;
			border: 2px solid $orange;
			border-radius: 5px;
		}

		&_button {
			font-size: 24px;
			padding: 10px 15px;
			color: $gray;
			transition: color 0.1s ease;

			&:hover,
			&:active {
				color: $black;
			}
		}
	}
}

.search-tours {
	&__main {
		margin: 0 auto;
		margin-top: 70px;
		max-width: 1260px;
		background-color: $green-op-2;
		width: 100%;
		border-radius: 10px;
		padding: 40px 60px;
	}

	&__fields {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		border-radius: 5px;
	}

	&__submit {
		& img {
			margin-right: 10px;
		}

		& .search-tours__field-button {
			color: $white;
			background-color: $orange;
			letter-spacing: 0.15em;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;

			&:hover,
			&:active {
				background-color: darken($orange, 5%);
			}
		}
	}

	&__hidden {
		display: none;
	}

	&__popup {
		opacity: 0;
		visibility: collapse;
		background-color: $white;
		min-width: 100%;
		border-top: 1px solid #b3b3b3;
		box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
		flex-direction: column;
		display: flex;
		align-items: flex-start;
		max-height: 195px;
		overflow-y: auto;
		transition: opacity 0.1s ease, visibility 0.1s ease;
		height: 0;

		&.active {
			opacity: 1;
			visibility: visible;
			height: auto;
		}

		&_item {
			padding: 8px 15px;
			width: 100%;
			text-align: left;
			display: flex;
			align-items: center;
			transition: background-color 0.1s ease, border-color 0.1s ease,
				color 0.1s ease;

			& input {
				pointer-events: none;
				margin-right: 10px;
			}

			& span {
				pointer-events: none;
			}

			&:hover,
			&:active {
				background-color: lighten($green-op, 40%);
			}
		}

		&.period-popup {
			min-width: 230%;
			width: auto;
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			justify-items: center;
			position: relative;
			z-index: 5;

			&.active {
				padding: 10px;
			}

			& .search-tours__popup_item {
				border-radius: 100%;
				color: $black;
				border: 1px solid #b3b3b3;
				width: 30px;
				height: 30px;
				justify-content: center;

				&.selected {
					background-color: $orange;
					border-color: $orange;
					color: $white;
				}
			}
		}
	}

	&__field {
		font-weight: 400;
		font-size: 13px;
		position: relative;
		max-width: 190px;

		&:first-child &-button {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		&-button {
			background-color: $white;
			display: flex;
			user-select: none;
			align-items: center;
			cursor: pointer;
			width: 100%;
			height: 60px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			padding: 15px;
			transition: background-color 0.1s ease;

			&:hover,
			&:active {
				background-color: lighten($green-op, 40%);
			}

			border-right: 1px solid #b9b9b9;
		}

		& img {
			margin-right: 10px;
			pointer-events: none;
		}

		& span {
			pointer-events: none;
		}
	}
}

@media screen and (max-width: 1300px) {
	.search-tours {
		padding-top: 130px;
		padding-bottom: 80px;

		&__main {
			padding: 30px;
			margin-top: 50px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.search-tours {
		&__fields {
			grid-template-columns: 1fr;
		}

		&__main {
			padding: 45px;
		}

		&__popup {
			max-height: 300px;

			&.period-popup {
				min-width: 100%;
			}
		}

		&__field {
			max-width: none;

			&:first-child {
				& .search-tours__field-button {
					border-radius: 0;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}
			}
		}

		&__submit {
			& .search-tours__field-button {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				font-size: 16px;
				justify-content: center;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.search-tours {
		&__city_selected {
			&::before {
				top: 6px;
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.search-tours {
		&__main {
			padding: 20px;
		}
	}
}
