.packets {
	background-color: $white;
	background-image: linear-gradient(#fff 50%, #db51fe 50%);
	position: relative;

	&__icon {
		position: absolute;
		content: "";
		width: 150px;
		height: 150px;
		right: 0;
		top: 0;
		z-index: 2;

		&.icon-1 {
			right: 8%;
			top: 100px;
		}

		&.icon-2 {
			background-color: #4478ff;
			border-radius: 100%;
			right: 0;
			top: 0;
			width: 130px;
			height: 130px;
		}

		&.icon-3 {
			left: -50px;
			top: 12%;
		}

		&.icon-4 {
			top: 18%;
			right: -50px;
		}
	}

	&__bg {
		position: absolute;
		content: "";
		width: 100%;
		object-fit: cover;
		object-position: top;
		pointer-events: none;
		top: 0;
		left: 0;
		z-index: 2;
	}

	&__inner {
		padding: 225px 0;
		position: relative;
		z-index: 3;
	}

	&__title {
		font-size: 45px;
		font-weight: 400;
		color: $white;
		text-align: center;
		text-transform: uppercase;
		max-width: 750px;
		margin: 0 auto;
		margin-bottom: 50px;
	}
}

.packets__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.packets__item {
	height: inherit;
	&_title {
		color: $white;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 24px;
		padding: 37px;
		padding-top: 32px;
		background: linear-gradient(
			180deg,
			#8a3c99 0%,
			rgba(255, 0, 138, 0) 100%
		);
		border-radius: 20px;
		margin-bottom: 15px;
	}

	&_block {
		padding: 40px 35px;
		background-color: $white;
		border-radius: 20px;
		max-height: 673px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&_list {
		list-style: none;
		font-size: 18px;

		& li {
			position: relative;
			padding-left: 24px;

			&:not(:last-child) {
				margin-bottom: 25px;
			}

			&:before {
				position: absolute;
				content: "";
				width: 11px;
				height: 11px;
				min-width: 11px;
				border-radius: 100%;
				background-color: #6b2db4;
				left: 0;
				top: 4px;
			}
		}
	}
}

.packets__button {
	&_wrapper {
		margin-top: 60px;
		display: flex;
		justify-content: center;
	}

	background-color: #f178b6;
	border-radius: 16px;
	letter-spacing: 0.25px;
	max-width: 300px;
	width: 100%;
	padding: 12px;
	font-size: 18px;
	letter-spacing: 0.25px;
	color: #000;
	font-weight: 700;
	transition: background-color 0.1s ease;

	&:hover,
	&:active {
		background-color: $blue;
	}
}

@media screen and (max-width: 1650px) {
	.packets {
		&__bg {
			height: 100%;
		}

		&__icon {
			&.icon-3,
			&.icon-4 {
				display: none;
			}
		}

		&__inner {
			padding-top: 150px;
		}

		&__item {
			&_block {
				max-height: none;
				height: auto;
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	.packets {
		&__icon {
			&.icon-1,
			&.icon-2 {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	.packets {
		&__title {
			font-size: 38px;
		}

		&__item {
			&_title {
				padding-left: 10px;
				padding-right: 10px;
				font-size: 18px;
			}

			&_block {
				padding: 20px;
			}

			&_list {
				font-size: 16px;

				& li:not(:last-child) {
					margin-bottom: 18px;
				}
			}
		}
	}
}

@media screen and (max-width: 950px) {
	.packets {
		background-image: linear-gradient(#050c1e 70%, #db51fe);

		&__bg {
			display: none;
		}

		&__inner {
			padding-top: 50px;
			padding-bottom: 120px;
		}

		&__item {
			&_block {
				padding: 30px;
			}
		}

		&__items {
			max-width: 70%;
			margin: 0 auto;
			grid-template-columns: 1fr;
		}
	}
}

@media screen and (max-width: 600px) {
	.packets {
		&__items {
			max-width: none;
		}

		&__title {
			font-size: 26px;
		}
	}
}
