.portfolio {
	background-image: linear-gradient(#db51fe 50%, #000 50%);
	position: relative;

	&__bg {
		position: absolute;
		content: "";
		width: 100%;
		min-height: 100%;
		object-fit: cover;
		object-position: top;
		top: 0;
		pointer-events: none;
		left: 0;
		z-index: 2;
	}

	&__inner {
		padding: 265px 0;
		padding-bottom: 165px;
		position: relative;
		z-index: 3;
	}

	&__icon {
		position: absolute;
		content: "";
		z-index: -1;
		width: 140px;
		height: 140px;

		&.icon-1 {
			top: -150px;
			left: 0;
			width: 300px;
			height: 300px;
			background-size: cover;
			border-radius: 100%;
			background-repeat: no-repeat;
			background-image: url("../images/dist/planet.png");
		}

		&.icon-2 {
			left: 20%;
			top: 100px;
			width: 120px;
			height: 120px;
			border-radius: 100%;
			background-color: $yellow;
		}

		&.icon-3 {
			left: 0;
			height: auto;
			top: 220px;
		}

		&.icon-4 {
			right: 10%;
			height: auto;
			top: 220px;
		}

		&.icon-5 {
			right: 0;
			bottom: 120px;
		}
	}

	&__title {
		font-weight: 700;
		letter-spacing: -3px;
		text-transform: uppercase;
		font-size: 45px;
		text-align: center;
		color: $white;
		margin-bottom: 50px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 25px;
	}

	&__item {
		position: relative;
		overflow: hidden;

		&:hover,
		&:active {
			.portfolio__item_info {
				transform: translateY(0);
			}
		}

		&_img {
			width: 100%;
			height: 100%;
		}

		&_info {
			will-change: transform;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 3;
			transform: translateY(101%);
			transition: transform 0.2s ease-in-out;
			background-color: $blue-op;
			color: $white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 15px;

			&-title {
				font-weight: 700;
				font-size: 28px;
				margin-bottom: 20px;
				text-align: center;
			}

			&-desc {
				font-size: 18px;
				text-align: center;
			}
		}
	}

	&__button {
		&_wrapper {
			margin-top: 90px;
			display: flex;
			justify-content: center;
		}

		max-width: 325px;
		width: 100%;
		padding: 12px;
		background-color: $yellow;
		border-radius: 22px;
		color: $black;
		font-size: 25px;
		letter-spacing: 0.25px;
		font-weight: 700;
		text-align: center;
		transition: background-color 0.1s ease;

		&:hover,
		&:active {
			background-color: $white;
		}
	}
}

@media screen and (max-width: 1650px) {
	.portfolio {
		&__inner {
			padding-top: 70px;
		}

		&__icon {
			&.icon-3, &.icon-4 {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 950px) {
	.portfolio {
		&__inner {
			padding-top: 0;

			&::before {
				left: -25px;
				top: -90px;
			}
		}

		&__title {
			font-size: 36px;
		}

		&__items {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media screen and (max-width: 600px) {
	.portfolio {
		&__title {
			font-size: 32px;
		}

		&__button {
			font-size: 16px;
			max-width: 250px;

			&_wrapper {
				margin-top: 50px;
			}
		}

		&__inner {
			padding-bottom: 220px;
		}

		&__item {
			&_info {
				&-title {
					font-size: 20px;
				}

				&-desc {
					font-size: 14px;
				}
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.portfolio {
		&__items {
			grid-template-columns: 1fr;
		}

		&__icon {
			&.icon-5 {
				display: none;
			}
		}
	}
}
