.stages {
	background-color: #000;
	color: $white;
	position: relative;

	&__wave {
		position: absolute;
		content: '';
		bottom: -50px;
		left: 0;
		width: 100%;
	}

	&__bg {
		position: absolute;
		content: '';
		bottom: 0;
		right: 0;
	}

	&__inner {
		padding-bottom: 150px;
		position: relative;
		z-index: 3;
	}

	&__title {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 45px;
		letter-spacing: -3px;
		max-width: 600px;
		margin-bottom: 35px;
		margin-top: 60px;
	}

	&__desc {
		font-size: 24px;
	}
}

.stages__info {
	display: flex;
	align-items: center;
	margin-top: -100px;
	position: relative;
	z-index: 5;

	&_img {
		position: relative;
		margin-right: 75px;

		&:before {
			position: absolute;
			content: '';
			width: 110px;
			height: 110px;
			background-color: $yellow;
			border-radius: 100%;
			bottom: 30px;
			right: -20px;
			z-index: 2;
		}
	}
}


.stages__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 60px 40px;
	color: #fff;
	margin-top: 35px;

	&_item {
		display: flex;
		flex-direction: column;
	}

	&_number {
		font-size: 70px;
		font-weight: 700;
	}

	&_title {
		font-weight: 700;
		font-size: 24px;
		margin-bottom: 12px;
	}

	&_link {
		margin-top: 60px;
		font-weight: 700;
		text-decoration: underline;
		font-size: 20px;
		padding-left: 40px;
		position: relative;
		color: $white;

		& span {
			position: relative;
			z-index: 2;
		}

		&:before {
			position: absolute;
			content: '';
			left: 0;
			top: -22px;
			height: 70px;
			width: 70px;
			border-radius: 100%;
			background-color: #FF3C0E;
			z-index: 1;
		}
	}
}

@media screen and (max-width: 1700px) {
	.stages {
		&__wave {
			bottom: -25px;
		}
	}
}

@media screen and (max-width: 1100px) {
	.stages {
		&__info {
			margin-top: -50px;

			&_img img {
				width: 300px;
				height: 300px;
			}
		}

		&__title {
			font-size: 36px;
		}

		&__desc {
			font-size: 16px;
			max-width: 400px;
			display: block;
		}

		&__grid {
			&_number {
				font-size: 45px;
			}

			&_title {
				font-size: 18px;
			}

			&_desc {
				font-size: 16px;
			}

			&_link {
				font-size: 16px;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.stages {
		&__wave {
			z-index: 1;
			height: 60px;
		}

		&__bg {
			max-width: 550px;
		}

		&__grid {
			&_item {
				&.empty {
					display: none;
				}
			}

			&_desc {
				font-size: 14px;
			}

			&_link {
				font-size: 14px;
				margin-top: 28px;
				padding-left: 10px;

				&::before {
					width: 35px;
					left: 0;
					top: -9px;
					height: 35px;
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.stages {
		&__title {
			font-size: 26px;
		}

		&__info {
			&_img img {
				width: 200px;
				height: 200px;
			}

			&_img {
				
				&:before {
					width: 40px;
					height: 40px;
				}
			}
		}

		&__grid {
			&_number {
				font-size: 32px;
			}

			&_title {
				font-size: 16px;
			}

			&_desc {
				font-size: 12px;
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.stages {
		&__info {
			flex-direction: column;
			margin-top: 0;

			&_img {
				margin-right: 0;
			}
		}

		&__bg {
			max-width: 400px;
		}

		&__grid {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media screen and (max-width: 359px) {
	.stages {
		&__grid {
			grid-template-columns: 1fr;
		}
	}
}