.footer {
	background-color: $black;

	&__banner {
		padding-top: 80px;

		&_inner {
			padding: 70px 140px;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url("../images/dist/footer-banner.jpg");
			border-radius: 22px;
			min-height: 365px;
			background-position: center;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&_info {
			display: flex;
			flex-direction: column;
			color: $white;
			max-width: 570px;

			&--title {
				font-family: "Playfair", serif;
				font-size: 70px;
				line-height: 1.2;
				text-transform: uppercase;
				margin-bottom: 25px;
			}

			&--slogan {
				margin-top: 25px;
				letter-spacing: 0.04em;
				font-size: 18px;
				line-height: 1.4;
			}

			& hr {
				width: 100%;
				height: 2px;
				color: #fff;
				opacity: 0.75;
			}
		}
	}

	&__body {
		padding: 30px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #b7b7b7;
		letter-spacing: 0.02em;
		font-size: 16px;
		position: relative;

		& a {
			color: #b7b7b7;
		}
	}

	&__privacy {
		display: flex;
		flex-direction: column;
		transition: color 0.2s ease;

		& a {
			text-decoration: underline;

			&:hover {
				color: $white;
				text-decoration: none;
			}
		}
	}

	&__logo {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		& svg path {
			&:nth-child(23),
			&:nth-child(13),
			&:nth-child(10),
			&:nth-child(8),
			&:nth-child(7),
			&:nth-child(5),
			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(21),
			&:nth-child(18),
			&:nth-child(16) {
				fill: url("#logo-gradient-footer");
			}
		}

		&:hover svg defs stop {
			&:first-child {
				stop-color: #7776ff;
			}

			&:last-child {
				stop-color: #ae2cf1;
			}
		}
	}

	&__socials {
		display: flex;
		flex-direction: column;

		& a {
			transition: color 0.2s ease;

			&:not(:last-child) {
				margin-bottom: 10px;
			}

			&:hover {
				color: $white;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.footer {
		&__banner {
			&_inner {
				min-height: auto;
				padding: 40px 50px;
			}
		}
	}
}
