.m-header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: rgba(96, 96, 96, 0.3);
	backdrop-filter: blur(8px);
	border-radius: 0px 0px 25px 25px;

	&__inner {
		padding: 25px 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
	}

	&__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.m-page {
	width: 100vw;
	height: calc((var(--vh, 1vh) * 100));
	max-height: calc((var(--vh, 1vh) * 100));
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: $black;
	background-image: url("../images/mobile-anim.gif");

	& .container {
		height: inherit;
	}

	&__inner {
		padding-top: 90px;
		padding-bottom: 15px;
		display: flex;
		flex-direction: column;
		height: inherit;
		justify-content: space-between;
	}

	&__lang {
		display: flex;
		justify-content: center;

		&_item {
			background: #5E14B1;
			border-radius: 20px;
			display: flex;
		}

		&_link {
			color: $white;
			font-size: 14px;
			letter-spacing: .02em;
			padding: 7px 17px;

			&.active {
				border-radius: 20px;
				background: $gradient;
			}
		}
	}

	&__hire {
		& .button-default {
			width: 100%;
			background: rgba(96, 96, 96, 0.2);
			backdrop-filter: blur(8px);
		}
	}
}

.mobile {
	& .popup-contacts {
		max-height: none;
		top: auto;
		bottom: 0;
		left: auto;
		transform: none;
		width: 100%;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		max-width: none;

		&__inner {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: -12px;
				left: 50%;
				width: 70px;
				height: 6px;
				background-color: $white;
				border-radius: 30px;
				transform: translateX(-50%);
			}
		}

		&__img {
			display: none;
		}

		& .title {
			font-size: 20px;

			& span {
				&::before, &::after {
					width: 50px;
					height: 7px;
					background-size: cover;
				}

				&::before {
					left: -65px;
				}
				&::after {
					right: -65px;
				}
			}
		}

		&__wrapper {
			padding: 15px;
			padding-top: 25px;
			max-height: none;
		}
	}

	& .popup {
		&__input {
			font-size: 16px;
			padding: 18px;

			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}

		&__submit {
			margin-top: 30px;
		}
	}
}
